.container {
    margin: 20px 0 0 20px;
    display: flex;
  }
  
  .circle {
    background: #456789;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  .square {
    background: #456789;
    height: 30px;
    width: 30px;
    margin: 10px;
    animation:flyright 2s;
    animation-iteration-count: infinite;
  }
  .triangle {
    margin: 10px;
    border-style: solid;
    border-color: transparent transparent #456789 transparent;
    border-width: 0 20px 30px 20px;
    animation:zigzagbot 5s,zigside 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce{
    0%{
      position:relative;
      top:3px;
    }
    
    50%{
      position:relative;
      top:20px;
    }
    
    100%{
       position:relative;
      top:3px;
    }
  }
  
  @keyframes flyright{
    0%{
      position:relative;
      left: 0px;
    }
    100%{
      position:relative;
      left:100%;        
    }
  }
  
  @keyframes zigzagbot{
    0%{
      position:relative;
      top: 0px;
    }
    
    100%{
      position:relative;
      top: 100vh;
    }
  }
  
  @keyframes zigside{
    0%{
      left:20px;
    }
    
    100%{
      right:20px;
    }
  }